@import '~bootstrap/scss/mixins';

.font-family-bold {
  font-family: $headings-font-family;
  font-weight: 900;
}
.smaller {
  font-size: 0.625em;
}
.small {
  font-size: 0.75em;
}
.big {
  font-size: 3.429em;
}
.sz-big-icon-size {
  font-size: 9rem;
}
.sz-line-height-normal {
  line-height: 1;
}
.sz-line-height-small {
  line-height: 0.6;
}
.sz-text-underline {
  text-decoration: underline;
}
.sz-underline {
  &::after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    margin: 8px 0;
    background-color: var(--secondary);
  }
}
.sz-border-2 {
  border: 2px solid;
}
.sz-left-border {
  &::before {
    content: '';
    width: 4px;
    position: absolute;
    background: var(--secondary);
    top: 4px;
    bottom: 4px;
    left: 4px;
  }
}
.text-muted {
  color: var(--gray-light) !important;
}
.letter-spacing {
  letter-spacing: 1px;
}
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: var(--#{$color}) !important;
  }
  .text-#{$color} {
    color: var(--#{$color}) !important;
  }
  .btn-#{$color} {
    background: linear-gradient(
        to left,
        var(--#{light-gradient}),
        var(--#{$color})
      )
      repeat-x;
    border-color: var(--#{$color});
    &:hover {
      background: linear-gradient(
          to left,
          var(--#{light-gradient}),
          var(--#{$color})
        )
        repeat-x;
      border-color: var(--#{$color});
    }
  }
  .border-#{$color} {
    border-color: var(--#{$color}) !important;
  }
}
