.sz-small-font-size {
  font-size: 0.75rem;
}
.sz-normal-font-size {
  font-size: 1rem;
}
.sz-big-font-size {
  font-size: 1.5rem;
}
.sz-big-icon-size {
  font-size: 9rem;
}
.sz-line-height-normal {
  line-height: 1;
}
.sz-underline {
  &::after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    margin: 8px 0;
    background-color: $secondary;
  }
}
.sz-border-2 {
  border: 2px solid;
}
