@font-face {
  font-family: 'sz-icons-line';
  src: url('../fonts/SzIcons/sz-icons-line/sz-icons-line.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/SzIcons/sz-icons-line/sz-icons-line.woff') format('woff'),
    url('../fonts/SzIcons/sz-icons-line/sz-icons-line.woff2') format('woff2'),
    url('../fonts/SzIcons/sz-icons-line/sz-icons-line.ttf') format('truetype'),
    url('../fonts/SzIcons/sz-icons-line/sz-icons-line.svg#sz-icons-line')
      format('svg');
}

[class^='sz-icon-line'],
[class*=' sz-icon-line'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sz-icons-line' !important;
  font-size: 1.5rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sz-icon-line.accounting-document:before {
  content: '\f101';
}
.sz-icon-line.add-circle:before {
  content: '\f102';
}
.sz-icon-line.add-square:before {
  content: '\f103';
}
.sz-icon-line.agriculture-machine-tractor:before {
  content: '\f104';
}
.sz-icon-line.alarm-bell:before {
  content: '\f105';
}
.sz-icon-line.alert-triangle:before {
  content: '\f106';
}
.sz-icon-line.analytics-bars-3d:before {
  content: '\f107';
}
.sz-icon-line.app-window-settings:before {
  content: '\f108';
}
.sz-icon-line.arrow-button-down-2:before {
  content: '\f109';
}
.sz-icon-line.arrow-button-right-2:before {
  content: '\f10a';
}
.sz-icon-line.arrow-button-up-2:before {
  content: '\f10b';
}
.sz-icon-line.arrow-corner-left:before {
  content: '\f10c';
}
.sz-icon-line.arrow-corner-right:before {
  content: '\f10d';
}
.sz-icon-line.arrow-down-1:before {
  content: '\f10e';
}
.sz-icon-line.arrow-down:before {
  content: '\f10f';
}
.sz-icon-line.arrow-left-1:before {
  content: '\f110';
}
.sz-icon-line.arrow-left:before {
  content: '\f111';
}
.sz-icon-line.arrow-rectangle-down:before {
  content: '\f112';
}
.sz-icon-line.arrow-rectangle-left:before {
  content: '\f113';
}
.sz-icon-line.arrow-rectangle-right:before {
  content: '\f114';
}
.sz-icon-line.arrow-rectangle-up:before {
  content: '\f115';
}
.sz-icon-line.arrow-right:before {
  content: '\f116';
}
.sz-icon-line.arrow-up-1:before {
  content: '\f117';
}
.sz-icon-line.arrow-up:before {
  content: '\f118';
}
.sz-icon-line.attachment:before {
  content: '\f119';
}
.sz-icon-line.beach-sun-birds:before {
  content: '\f11a';
}
.sz-icon-line.bin-2-alternate:before {
  content: '\f11b';
}
.sz-icon-line.business-contract-handshake-sign:before {
  content: '\f11c';
}
.sz-icon-line.business-deal-cash-exchange:before {
  content: '\f11d';
}
.sz-icon-line.button-next:before {
  content: '\f11e';
}
.sz-icon-line.button-previous:before {
  content: '\f11f';
}
.sz-icon-line.calendar-3:before {
  content: '\f120';
}
.sz-icon-line.camera-1:before {
  content: '\f121';
}
.sz-icon-line.cat-fish-toy:before {
  content: '\f122';
}
.sz-icon-line.check-1:before {
  content: '\f123';
}
.sz-icon-line.check-circle-1:before {
  content: '\f124';
}
.sz-icon-line.close:before {
  content: '\f125';
}
.sz-icon-line.cog:before {
  content: '\f126';
}
.sz-icon-line.color-drop-pick:before {
  content: '\f127';
}
.sz-icon-line.common-file-text-download:before {
  content: '\f128';
}
.sz-icon-line.common-file-text-upload:before {
  content: '\f129';
}
.sz-icon-line.common-file-text:before {
  content: '\f12a';
}
.sz-icon-line.construction-pipe:before {
  content: '\f12b';
}
.sz-icon-line.copy-paste:before {
  content: '\f12c';
}
.sz-icon-line.credit-card-1:before {
  content: '\f12d';
}
.sz-icon-line.currency-euro-circle:before {
  content: '\f12e';
}
.sz-icon-line.data-file-bars-info:before {
  content: '\f12f';
}
.sz-icon-line.diagram-round:before {
  content: '\f130';
}
.sz-icon-line.download-bottom:before {
  content: '\f131';
}
.sz-icon-line.envelope:before {
  content: '\f132';
}
.sz-icon-line.filter-1:before {
  content: '\f133';
}
.sz-icon-line.floppy-disk:before {
  content: '\f134';
}
.sz-icon-line.folder-file-1:before {
  content: '\f135';
}
.sz-icon-line.gardening-hand-sprinkler:before {
  content: '\f136';
}
.sz-icon-line.gauge-dashboard-1:before {
  content: '\f137';
}
.sz-icon-line.hardware-drill-carbide:before {
  content: '\f138';
}
.sz-icon-line.headphones-customer-support:before {
  content: '\f139';
}
.sz-icon-line.house-3:before {
  content: '\f13a';
}
.sz-icon-line.information-circle:before {
  content: '\f13b';
}
.sz-icon-line.key-lock-1:before {
  content: '\f13c';
}
.sz-icon-line.keyboard-arrow-left:before {
  content: '\f13d';
}
.sz-icon-line.keyboard-arrow-return-1:before {
  content: '\f13e';
}
.sz-icon-line.keyboard-arrow-right:before {
  content: '\f13f';
}
.sz-icon-line.keyboard-arrow-top-right:before {
  content: '\f140';
}
.sz-icon-line.layout-bullets:before {
  content: '\f141';
}
.sz-icon-line.layout-corners-dashboard-1:before {
  content: '\f142';
}
.sz-icon-line.layout-dashboard:before {
  content: '\f143';
}
.sz-icon-line.login-keys:before {
  content: '\f144';
}
.sz-icon-line.logout-2:before {
  content: '\f145';
}
.sz-icon-line.maps-pin-1:before {
  content: '\f146';
}
.sz-icon-line.maps:before {
  content: '\f147';
}
.sz-icon-line.medical-specialty-nose:before {
  content: '\f148';
}
.sz-icon-line.messages-bubble-edit:before {
  content: '\f149';
}
.sz-icon-line.messages-bubble-question:before {
  content: '\f14a';
}
.sz-icon-line.mobile-phone:before {
  content: '\f14b';
}
.sz-icon-line.mobile-shopping-shop-basket:before {
  content: '\f14c';
}
.sz-icon-line.monetization-idea:before {
  content: '\f14d';
}
.sz-icon-line.money-wallet-open:before {
  content: '\f14e';
}
.sz-icon-line.move-expand-vertical:before {
  content: '\f14f';
}
.sz-icon-line.music-ear:before {
  content: '\f150';
}
.sz-icon-line.natural-disaster-water-level-fall:before {
  content: '\f151';
}
.sz-icon-line.natural-disaster-water-level-rise:before {
  content: '\f152';
}
.sz-icon-line.navigation-left-circle-1_1:before {
  content: '\f153';
}
.sz-icon-line.navigation-menu-4:before {
  content: '\f154';
}
.sz-icon-line.navigation-menu-vertical:before {
  content: '\f155';
}
.sz-icon-line.navigation-menu:before {
  content: '\f156';
}
.sz-icon-line.navigation-right-circle-1:before {
  content: '\f157';
}
.sz-icon-line.network-users:before {
  content: '\f158';
}
.sz-icon-line.office-file-pdf-1:before {
  content: '\f159';
}
.sz-icon-line.office-outdoors:before {
  content: '\f15a';
}
.sz-icon-line.paginate-filter-video:before {
  content: '\f15b';
}
.sz-icon-line.pencil-write:before {
  content: '\f15c';
}
.sz-icon-line.people-man-1:before {
  content: '\f15d';
}
.sz-icon-line.people-woman-6:before {
  content: '\f15e';
}
.sz-icon-line.performance-increase-2:before {
  content: '\f15f';
}
.sz-icon-line.phone-actions-voice-mail:before {
  content: '\f160';
}
.sz-icon-line.pin-location-1:before {
  content: '\f161';
}
.sz-icon-line.pollution-faucet-water:before {
  content: '\f162';
}
.sz-icon-line.print-text:before {
  content: '\f163';
}
.sz-icon-line.products-briefcase:before {
  content: '\f164';
}
.sz-icon-line.recycling-refresh:before {
  content: '\f165';
}
.sz-icon-line.remove-square:before {
  content: '\f166';
}
.sz-icon-line.remove:before {
  content: '\f167';
}
.sz-icon-line.resize-expand-corner-1:before {
  content: '\f168';
}
.sz-icon-line.resize-shrink:before {
  content: '\f169';
}
.sz-icon-line.saving-bank:before {
  content: '\f16a';
}
.sz-icon-line.search:before {
  content: '\f16b';
}
.sz-icon-line.send-email-1:before {
  content: '\f16c';
}
.sz-icon-line.single-neutral-actions-information:before {
  content: '\f16d';
}
.sz-icon-line.single-neutral-actions-setting:before {
  content: '\f16e';
}
.sz-icon-line.single-neutral-id-card-3:before {
  content: '\f16f';
}
.sz-icon-line.smart-house-water:before {
  content: '\f170';
}
.sz-icon-line.style-two-pin-question:before {
  content: '\f171';
}
.sz-icon-line.subtract-square:before {
  content: '\f172';
}
.sz-icon-line.synchronize-arrow-1:before {
  content: '\f173';
}
.sz-icon-line.task-finger-show:before {
  content: '\f174';
}
.sz-icon-line.task-list-text-1:before {
  content: '\f175';
}
.sz-icon-line.temperature-snowflake:before {
  content: '\f176';
}
.sz-icon-line.temperature-thermometer:before {
  content: '\f177';
}
.sz-icon-line.time-clock-circle-1:before {
  content: '\f178';
}
.sz-icon-line.time-clock-hand-1:before {
  content: '\f179';
}
.sz-icon-line.view-1:before {
  content: '\f17a';
}
.sz-icon-line.view-off:before {
  content: '\f17b';
}
.sz-icon-line.water-fountain-drop:before {
  content: '\f17c';
}
.sz-icon-line.water-protection-faucet:before {
  content: '\f17d';
}
.sz-icon-line.water-protection-tower:before {
  content: '\f17e';
}
.sz-icon-line.weather-cloud-1:before {
  content: '\f17f';
}
.sz-icon-line.weather-cloud-heavy-rain:before {
  content: '\f180';
}
.sz-icon-line.weather-cloud-thunder-heavy:before {
  content: '\f181';
}
.sz-icon-line.weather-cloud-wind-4:before {
  content: '\f182';
}
.sz-icon-line.weather-sun:before {
  content: '\f183';
}
.sz-icon-line.wifi-off:before {
  content: '\f184';
}
.sz-icon-line.wifi-signal-2:before {
  content: '\f185';
}
.sz-icon-line.wild-bird-eggs:before {
  content: '\f186';
}
.sz-icon-line.wind-velocity-measure:before {
  content: '\f187';
}
.sz-icon-line.zip-file-download:before {
  content: '\f188';
}
